<!-- Large Featured Post -->
<div th:fragment="main-featured" class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
            efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
</div>

<!-- side-by-side Featured Cards -->
<div th:fragment="featured-cards" class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-body-secondary">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                    lead-in to additional content.</p>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi">
                        <use xlink:href="#chevron-right" />
                    </svg>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Thumbnail</text>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
                <h3 class="mb-0">Post title</h3>
                <div class="mb-1 text-body-secondary">Nov 11</div>
                <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                    additional content.</p>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi">
                        <use xlink:href="#chevron-right" />
                    </svg>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Thumbnail</text>
                </svg>
            </div>
        </div>
    </div>
</div>

<!-- Main Post List -->
<div th:fragment="blog-posts">
    <!-- <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
    </h3> -->

    <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2021</p>

        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap.
            Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available
            space and show how a longer snippet of text affects the surrounding content. We'll repeat it
            often to keep the demonstration flowing, so be on the lookout for this exact same string of
            text.</p>
    </article>

    <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Another blog post</h2>
        <p class="blog-post-meta">December 23, 2020</p>

        <p>This is some additional paragraph placeholder content. It has been written to fill the available
            space and show how a longer snippet of text affects the surrounding content. We'll repeat it
            often to keep the demonstration flowing, so be on the lookout for this exact same string of
            text.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Upvotes</th>
                    <th>Downvotes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alice</td>
                    <td>10</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>Bob</td>
                    <td>4</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Charlie</td>
                    <td>7</td>
                    <td>9</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Totals</td>
                    <td>21</td>
                    <td>23</td>
                </tr>
            </tfoot>
        </table>

    </article>

    <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">New feature</h2>
        <p class="blog-post-meta">December 14, 2020</p>

        <p>This is some additional paragraph placeholder content. It has been written to fill the available
            space and show how a longer snippet of text affects the surrounding content. We'll repeat it
            often to keep the demonstration flowing, so be on the lookout for this exact same string of
            text.</p>
        <ul>
            <li>First list item</li>
            <li>Second list item with a longer description</li>
            <li>Third list item to close it out</li>
        </ul>
    </article>

    <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-secondary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
    </nav>
</div>

<!-- Article -->
<!-- <div th:fragment="article">
    <article class="blog-post">
    </article>
</div> -->