<footer th:fragment="footer" class="py-4 text-center text-body-secondary">

    <p class="text-muted small mb-0">
        © 2025 |
        <a href="#" class="text-muted text-decoration-none mx-2">Privacy</a> |
        <a href="#" class="text-muted text-decoration-none">Terms</a>
    </p>

    <div class="mt-3">
        <span class="me-2">SPRING BOOT |</span>
        <span class="me-2">POSTGRES |</span>
        <span class="me-2">DOCKER |</span>
        <span class="me-2">THYMELEAF |</span>
        <span>BOOTSTRAP</span>
    </div>

    <p class="text-muted small mt-2 mb-0">
        by <a href="https://github.com/MustafaCelal" class="text-muted text-decoration-none">@me</a>.
    </p>

</footer>