spring:
  application:
    name: blog-api
  
  datasource:
    url: jdbc:postgresql://localhost:5432/blog_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

logging:
  level:
    com.raptiye.blog: DEBUG
    org.hibernate.SQL: DEBUG
